<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="upc.pe.recycleappupc">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recycleappupc">
        <activity
            android:name=".EstadisticasActivity"
            android:exported="false" />
        <activity
            android:name=".organic"
            android:exported="false" />
        <activity
            android:name=".paper"
            android:exported="false" />
        <activity
            android:name=".tetrapack"
            android:exported="false" />
        <activity
            android:name=".metal"
            android:exported="false" />
        <activity
            android:name=".glass"
            android:exported="false" />
        <activity
            android:name=".repeat"
            android:exported="false" />
        <activity
            android:name=".faucett"
            android:exported="false" />
        <activity
            android:name=".plaza_benavides"
            android:exported="false" />
        <activity
            android:name=".plaza_ventanilla"
            android:exported="false" />
        <activity
            android:name=".plaza_colonial"
            android:exported="false" />
        <activity
            android:name=".puntos_verdes"
            android:exported="false" />
        <activity
            android:name=".collector_points"
            android:exported="false" />
        <activity
            android:name=".PlasticActivity"
            android:exported="false" />
        <activity
            android:name=".info_plastic"
            android:exported="false" />
        <activity
            android:name=".information_organic"
            android:exported="false" />
        <activity
            android:name=".information_tetrapck"
            android:exported="false" />
        <activity
            android:name=".Information_glass"
            android:exported="false" />
        <activity
            android:name=".information_metal"
            android:exported="false" />
        <activity
            android:name=".Information_paper"
            android:exported="false" />
        <activity
            android:name=".Information_plastic"
            android:exported="false" />
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".AdviceActivity"
            android:exported="false" />
        <activity
            android:name=".LabelsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Alarm"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".alarm.BroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tester.recycleappupc"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </receiver>
    </application>

</manifest>